/* pc */
@media (min-width: 1024px) and (max-width: 1480px) {
  .header-menu {
    width: 55%;
    justify-content: space-evenly;
  }
  #text {
    width: 85%;
  }
  .setup {
    width: 45%;
  }
  .spec {
    width: 50%;
  }
  .spec h3 {
    font-size: 20px;
  }
  /* gaming */
  .gaming {
    width: 85%;
  }

  /* coding */
  .skill {
    width: 85%;
  }
  .skill-container h3 {
    font-size: 25px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  #contact {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-form {
    width: 100%;
    box-sizing: border-box;
    border-top: #27374d 2px solid;
  }

  .contact-mess {
    width: 80%;
    margin: 0 auto 25px 40px;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    justify-content: space-around;
  }

  .header-menu {
    width: 60%;
    justify-content: space-evenly;
  }

  #home-image {
    height: 650px;
    background-attachment: fixed;
  }

  #text {
    width: 85%;
  }

  .setup {
    width: 45%;
  }

  .spec {
    width: 50%;
  }

  .spec h3 {
    font-size: 25px;
  }

  /* gaming */
  .gaming {
    width: 85%;
  }

  .gaming-item {
    width: 90%;
  }
  .gaming-item img{
    width:100%
  }
  /* coding */

  .container{
    width:85%;
  }
  
  .skill{
    width:85%;
  }

  .languages{
    width:85%;
  }
  
  #contact {
    display: flex;
    flex-direction: column-reverse;
  }

  .contact-form {
    width: 100%;
    box-sizing: border-box;
    border-top: #27374d 2px solid;
  }

  .contact-mess {
    width: 80%;
    margin: 0 auto 25px 40px;
  }
  .icon-contact {
    font-size: 25px;
    margin-right: 10px;
  }

  .social-icon {
    font-size: 40px;
  }
}

/* mobile large */
@media (min-width: 425px) and (max-width: 767px) {
  .header {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .header h1 {
    text-align: center;
    margin-top: 10px;
  }

  .header-menu {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 15px;
    font-size: 10px;
  }

  #home-image {
    height: 450px;
    background-attachment: fixed;
    margin-bottom: 75px;
  }

  .menu-item {
    font-size: 15px;
  }
  #text {
    width: 85%;
  }
  .text-words {
    font-size: 12px;
  }
  .setup-spec{
    flex-direction: column;
  }
  .setup {
    width: 100%;
    border-bottom: solid 2px #27374d;
  }
  .setup img{
    padding:10px 15px
  }
  .spec {
    width: 100%;
    padding:10px 15px;
    box-sizing: border-box;
  }
  .spec h3 {
    font-size: 15px;
  }
  /* gaming */
  .gaming{
    width:85%;
  }
  .gaming h1{
    font-size: 23px;
  }
  .gaming-container{
    flex-direction: column;
    padding:0;
  }

  .gaming-item{
    width:100%;
    margin-bottom:20px;
  }
  .gaming-item img {
    width: 100%;
    padding:0px 20px;
    box-sizing: border-box;
  }
  /* coding */
  .skill{
    width:85%;
  }
  .skill h1{
    font-size: 25px;
  }
  .skill-container{
    flex-direction: column;
    align-items: center;
  }
  .skill-container h2{
    font-size: 15px;
    width:100%;
  }
  .skill-container img{
    width:80%;
  }
  .languages{
    width:85%;
  }
  .languages h1{
    font-size: 19px;
  }
  .languages-container h2{
    font-size: 18px;
  }
  /* soccer */

  .container{
    width:85%;
  }

  .items h2{
    font-size: 15px;
  }

  .items p{
    font-size: 14px;
  }
  .contact-container {
    font-size: 5px;
  }

  #contact {
    width: 80%;
    flex-flow: column-reverse wrap;
  }

  .contact-mess {
    box-sizing: border-box;
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: #27374d 2px solid;
  }

  .contact-container span {
    font-size: 17px;
  }

  .contact-form {
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
  }
  .icon-contact {
    font-size: 20px;
    margin-right: 2px;
  }

  .social-icon {
    font-size: 35px;
  }
}

@media (min-width:425px) and (max-width:546px) {
  .contact-btn{
    width:50%;
  }
}
/* mobile-m */

@media (min-width: 375px) and (max-width: 424px) {
  .header {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .header h1 {
    text-align: center;
    margin-top: 10px;
  }

  .header-menu {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 15px;
    font-size: 12px;
  }

  #home-image {
    height: 400px;
    background-attachment: fixed;
    margin-bottom: 75px;
  }

  .menu-item {
    font-size: 15px;
  }
  #text {
    width: 85%;
  }
  .text-words {
    font-size: 15px;
  }
  .setup-spec{
    flex-direction: column;
  }
  .setup {
    width: 100%;
    border-bottom: solid 2px #27374d;
  }
  .setup img{
    padding:10px 15px
  }
  .spec {
    width: 100%;
    padding:10px 15px;
    box-sizing: border-box;
  }
  .spec h3 {
    font-size: 15px;
  }
  /* gaming */
  .gaming{
    width:85%;
  }
  .gaming h1{
    font-size: 23px;
  }
  .gaming-container{
    flex-direction: column;
    padding:0;
  }

  .gaming-item{
    width:100%;
    margin-bottom:20px;
  }
  .gaming-item img {
    width: 100%;
    padding:0px 20px;
    box-sizing: border-box;
  }
  /* coding */
  .skill {
    width:85%;
  }
  .skill h1{
    font-size: 25px;
  }
  .skill-container{
    flex-direction: column;
    align-items: center;
  }
  .skill-container h2{
    font-size: 15px;
    width:100%;
  }
  .skill-container img{
    width:80%;
  }
  .languages{
    width:85%;
  }
  .languages h1{
    font-size: 17px;
  }
  .languages-container h2{
    font-size: 17px;
  }
  /* soccer */

  .container{
    width:85%;
  }

  .items h2{
    font-size: 15px;
  }

  .items p{
    font-size: 14px;
  }
  .contact-container {
    font-size: 5px;
  }

  #contact {
    width: 90%;
    flex-flow: column-reverse wrap;
  }

  .contact-mess {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 10px 10px 10px;
    border-bottom: #27374d 2px solid;
  }

  .contact-container span {
    font-size: 17px;
  }

  .contact-form {
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
  }

  .icon-contact {
    font-size: 20px;
    margin-right: 2px;
  }

  .social-icon {
    font-size: 30px;
  }
  .contact-btn{
    width:60%;
  }
}

/* mobile-s */

@media (min-width: 320px) and (max-width: 374px) {
  .header {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
  }

  .header h1 {
    text-align: center;
    margin: 10px 0px;
  }

  .header-menu {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 15px;
    font-size: 10px;
  }

  #home-image {
    height: 375px;
    background-attachment: fixed;
    margin-bottom: 75px;
  }

  .menu-item {
    font-size: 14px;
  }
  #text{
    width:85%;
  }
  .text-words {
    font-size: 15px;
  }
  .setup-spec{
    flex-direction: column;
  }
  .setup {
    width: 100%;
    border-bottom: solid 2px #27374d;
  }
  .setup img{
    padding:10px 15px
  }
  .spec {
    width: 100%;
    padding:10px 15px;
    box-sizing: border-box;
  }
  .spec h3 {
    font-size: 15px;
  }
  /* gaming */
  .gaming{
    width:85%;
  }
  .gaming h1{
    font-size: 23px;
  }
  .gaming-container{
    flex-direction: column;
    padding:0;
  }

  .gaming-item{
    width:100%;
    margin-bottom:20px;
  }
  .gaming-item img {
    width: 100%;
    padding:0px 20px;
    box-sizing: border-box;
  }
  /* coding */
  .skill {
    width:85%;
  }
  .skill h1{
    font-size: 20px;
  }
  .skill-container{
    flex-direction: column;
    align-items: center;
  }
  .skill-container h2{
    font-size: 15px;
    width:100%;
  }
  .skill-container img{
    width:80%;
  }
  .languages{
    width:85%;
  }
  .languages h1{
    font-size: 15px;
  }
  .languages-container h2{
    font-size: 17px;
  }
  /* soccer */

  .container{
    width:85%;
  }

  .items h2{
    font-size: 15px;
  }

  .items p{
    font-size: 14px;
  }
  .contact-container {
    font-size: 5px;
  }

  #contact {
    width: 90%;
    flex-flow: column-reverse wrap;
  }

  .contact-mess {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 10px 10px 10px;
    border-bottom: #27374d 2px solid;
  }

  .contact-mess h1 {
    font-size: 27px;
  }

  .contact-container span {
    font-size: 13px;
  }

  .contact-form {
    padding-left: 20px;
    box-sizing: border-box;
    width: 100%;
  }
  .icon-contact {
    font-size: 20px;
    margin-right: 2px;
  }

  .social-icon {
    font-size: 30px;
  }
  .contact-btn{
    width:60%;
  }
}
