* {
    color: #dde6ed;
  }
  
  /* header */
  .header {
    display: flex;
    justify-content: space-evenly;
    background-color: #27374d;
    position: fixed;
    width: 100%;
    z-index: 15;
    top: 0;
  }
  
  .header-menu {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .menu-item {
    text-decoration: none;
    margin: 0px;
    color: #dde6ed;
    font-size: large;
    text-decoration: none;
    text-align: center;
  }
  
  .menu-item::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: #526d82;
    transition: 0.25s;
  }
  
  .menu-item:hover::after {
    width: 50%;
  }
  
  /* home-img */

#home-image {
  background-image: url("auyyyy.jpg");
  height: 500px;
  width: 100%;
  color: #dde6ed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  background-attachment: fixed;
}

#home-image h1 {
  color: white;
  z-index: 10;
}

.background-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #27374d;
  opacity: 0.5;
}

/* text */
#text{
  background-color: #526d82;
  width:70%;
  margin:0 auto;
  border: hidden 5px;
  border-radius: 10px;
  padding-top:10px;
  display: flex;
  flex-direction: column;
}

.text-words{
  border-bottom: #27374d solid 2px;
  padding-left: 15px;
}

.setup-spec{
  display:flex;
}

.setup{
  width:50%;
  border-right: #27374d solid 2px;
}

.setup img{
  width:85%;
  padding:15px  25px;
}

.spec{
  width:50%;
}

.spec h3{
  font-size: 18px;
}


/* gaming */

.gaming{
  background-color: #526d82;
  margin:0 auto;
  width:70%;
  border:#27374d hidden 2px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.gaming-container{
  padding: 0px 15px;
  display:flex;
  justify-content: space-evenly;
}

.gaming-container p{
  width:40%;
  font-size: 35px;
  border: #27374d 2px solid;
  height:100%;
  padding:10px;
}

.gaming-item{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  width: 60%;
}

.gaming-item img{
  width:100%;
}